.charts-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .charts-row > div {
    flex: 1;
  }

  .selectionDeck {
    margin : 15px;
    margin-left: 30px;
  }

  .defaiteVictoireText {
    margin : 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
  }

  .rouge {
    color: red;
  } 

  .vert{
    color: green;
  }
