.playerhealth {
	box-sizing: border-box;

	padding: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.enemyhealth {
	box-sizing: border-box;

	padding: 24px;
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ccc;
  font-family: sans-serif;
  font-size: 18px;
}

.range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: "Orbitron", monospace;
}
.range:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #F3E600;
  z-index: 0;
}
.range:after {
  counter-reset: health var(--health) maxhealth var(--maxhealth);
  content: counter(health) "/" counter(maxhealth);
  color: #000;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) skewX(-30deg);
  z-index: 1;
}
.range__label {
  transform: skew(-30deg) translateY(-100%);
  line-height: 1.5;
}

.range__labelName {
  transform: skew(-30deg) translateY(-200%);
  line-height: 1.5;
}


.damage:before {
    /* --width: calc(var(--p) * 1%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F3E600;
    z-index: 0; */
    -webkit-animation: load 0.5s forwards linear, glitch 2s infinite linear;
            animation: load 0.5s forwards linear, glitch 2s infinite linear;
  }
  .health {
    background-color: #F3E600;
    height: 30px;
    width: var(--bar);
    position: absolute;
    top: 0;
  }
  /* .damage:after {
    counter-reset: progress var(--p);
    content: counter(progress) "%";
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  } */

@-webkit-keyframes load {
  from {
    width: var(--from);
  }
  to {
    width: var(--to);
  }
}
@keyframes load {
  from {
    width: var(--from);
  }
  to {
    width: var(--to);
  }
}
@-webkit-keyframes glitch {
  0%, 5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3% {
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}
@keyframes glitch {
  0%, 5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3% {
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}
