.mainContainer {
    background-color: #be6edd21;
    margin: 5% 30%;
    padding: 2.5%;
    border-radius: 16px
}

.secondaryContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(22, 18, 21);
    padding: 32px;
    border-radius: 16px;
}