.mainContainer {
    background-color: #be6edd21;
    margin: 5% 10%;
    padding: 2.5%;
    border-radius: 16px
}

.secondaryContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(22, 18, 21);
    padding: 32px;
    border-radius: 16px;
    gap: 32px;
}

.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 256px;
    height: 384px;
    background-color: #d264fd34;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}

.card p,
i {
    display: flex;
    font-size: 20px;
    justify-content: center;

}

.card h2 {
    display: flex;
    font-size: 20px;
    justify-content: center;

}


.cardImg {
    height: 256px;
    overflow: hidden;
}

.cardImg img {
    width: 256px;
    height: 256px;
    object-fit: cover;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px;
    font-size: 20px;
    height: 64px;
    align-items: center;
}

.stats p {
    margin-bottom: 0px;
}

.name {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name p {
    font-size: 25px;
    margin: 0px;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.sortOptions mat-form-field {
    padding: 0px 5px;
}