/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card.fadeIn {
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.card.fadeOut {
  animation: fadeOut 0.3s;
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  -o-animation: fadeOut 0.3s;
  -ms-animation: fadeOut 0.3s;
}

.card.attack {
  animation: attack 0.5s;
  -webkit-animation: attack 0.5s;
  -moz-animation: attack 0.5s;
  -o-animation: attack 0.5s;
  -ms-animation: attack 0.5s;
}

.card.reverseAttack {
  animation: attackReverse 0.5s;
  -webkit-animation: attackReverse 0.5s;
  -moz-animation: attackReverse 0.5s;
  -o-animation: attackReverse 0.5s;
  -ms-animation: attackReverse 0.5s;
}

@keyframes attack {
  0% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(10%);
  }

  60% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes attackReverse {
  0% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}




html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}